@page
@model kubestore.Pages.Admin.Products.IndexModel
@{
	ViewData["Title"] = "Admin | Products";
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/@(nameof(kubestore)).styles.css" />

<div class="adminBody">
	@{
		Html.RenderPartial("_SideNavPartial");
	}
	<div class="bodyContent">
		<div>
			<h3>Products List</h3>
			<form>
				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>

				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>

				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>

				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>

				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>

				<div>
					<label>Product Name</label>
					<input type="text" />
					<span></span>
				</div>
			</form>
		</div>
	</div>
</div>


