@page
@model kubestore.Pages.Admin.UsersModel
@{
	ViewData["Title"] = "Admin Page";
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/@(nameof(kubestore)).styles.css" />

<div class="adminBody">
	@{
		Html.RenderPartial("_SideNavPartial");
	}
	<div class="bodyContent">
		<div class="controlActions">
			<button class="btn btn-primary">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
					<path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
				</svg>
				<span>Add New User</span>
			</button>
			<button class="btn btn-info">
				<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
					<path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
				</svg>
				<span>Apply Filters</span>
			</button>
		</div>
		<div>
			<h3 class="text-danger">Registered Users</h3>
			<table class="table table-bordered w-100">
				<tr>
					<th>S.No</th>
					<th>User Name</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
				<tbody>
					<tr>
						<td>1</td>
						<td>Optimus</td>
						<td>optimus.admin@kubestore.com</td>
						<td>Administrator</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Prime</td>
						<td>prime.customer@kubestore.com</td>
						<td>Customer</td>
					</tr>
					<tr>
						<td>3</td>
						<td>john</td>
						<td>john.infra@kubestore.com</td>
						<td>Infrastructure</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


