.adminBody[b-yev6vjwlux]{
    position: relative;
}

.bodyContent[b-yev6vjwlux]{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 80%;
}

.infoTiles[b-yev6vjwlux]{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}